
body{
    background-color: #1e3d59;

    margin: 0;
    padding: 0;

    min-height: calc(100vh - 82px);
    height: calc(100vh - 82px);
    max-height: calc(100vh - 82px);
}

.top{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}


/*
Alles im Aktionsleistenbereich
*/

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    background-color: #1e3d59;

    


    box-sizing: border-box;
    border-radius: 0px 0px 0px 0px;

}

.suchleiste{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kompakt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eingabefeld{

    font-size: 20px;
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    margin: 20px;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
}

.filter{

    border: 1px solid #1e3d59;

    max-width: 10%;
    height: auto;
    padding: 10px;
}

.filter:hover{
    cursor: pointer;
    border: 1px solid #ffc13b;
}

.button{
    margin: 10px;
    padding: 20px;
    
    
    background-color: #ff6e40;
    color: black;

    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
}

.button:hover{
    
    cursor: pointer;
    background-color: #ffc13b;
    color: black;

}




/*
Alles im Körperbereich
*/

.inhalt{
    display: flex;
    flex-direction: row;
    
    min-height: 100%;
    max-height: 100%;

    


    

    

}

.list{
    width: 20%;
    height: 100%;


    display: flex;
    flex-direction: column;

    justify-content: end;

    background-color: #1e3d59;

    border: 1px solid #1e3d59;

    margin-top: 50px;


    height: calc(100% - 51px);

    border-radius: 0px 0px 0px 0px;
}

.tabs{
    overflow: hidden;
    justify-content: center;
    background-color: #f5f0e1;

}

.tabs button {
    color: #f5f0e1;
    background-color: #1e3d59;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
  }

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ffc13b;
    color: #1e3d59;
}
  
  /* Create an active/current tablink class */
.tabs button.active {
    background-color: #f5f0e1;
    color:  #1e3d59;
}

.eck {
    border-radius: 0px 0px 0px 15px;
}

.eck2 {
    border-radius: 0px 0px 15px 0px;
}

.tabinhalt{


    display: none;

    background-color: #f5f0e1;
    
    
    height: 100%;

    overflow-y: auto;
    
}

.tabinhalt div{

   

    font-size: 30px;

    padding: 15px;
    text-align: center;

    margin: 5px;

    color: #1e3d59;
    background-color: #ff6e40;

    border: 1px solid #1e3d59;
}

.tabinhalt div:hover{
    cursor: pointer;
    background-color: #ffc13b;
}



.workbench{
    min-width: 80%;
    max-width: 80%;

    background-color: white;

    border-radius: 50px 0px 0px 0px;
}

