
body{
    background-color: blanchedalmond;

    margin: 0;
    padding: 0;

    min-height: calc(100vh - 82px);
    height: calc(100vh - 82px);
    max-height: calc(100vh - 82px);
}

.top{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}


/*
Alles im Aktionsleistenbereich
*/

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    background-color: goldenrod;

    


    box-sizing: border-box;
    border-radius: 0px 0px 20px 0px;

}

.suchleiste{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kompakt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eingabefeld{

    font-size: 20px;
    text-align: center;

    margin: 10px;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
}

.filter{

    border: 1px solid goldenrod;

    max-width: 10%;
    height: auto;
    padding: 10px;
}

.filter:hover{
    cursor: pointer;
    border: 1px solid black;
}

.button{
    margin: 10px;
    padding: 20px;
    
    
    background-color: lightgray;
    color: black;

    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
}

.button:hover{
    
    cursor: pointer;
    background-color: lightgreen;
    color: black;

}




/*
Alles im Körperbereich
*/

.inhalt{
    display: flex;
    flex-direction: row;
    
    min-height: 100%;
    max-height: 100%;


    justify-content: left;


    

    

}

.list{
    width: 20%;
    height: 100%;


    display: flex;
    flex-direction: column;

    background-color: yellowgreen;

    border: 1px solid yellowgreen;

    border-radius: 0px 0px 0px 0px;
}

.tabs{
    overflow: hidden;
    justify-content: center;


}

.tabs button {

    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
  }

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: rgb(0, 255, 255);
}
  
  /* Create an active/current tablink class */
.tabs button.active {
    background-color:  yellowgreen;
}

.eck {
    border-radius: 0px 0px 0px 15px;
}

.eck2 {
    border-radius: 0px 0px 15px 0px;
}

.tabinhalt{

    overflow: scroll;
    display: none;
    
    height: 100%;

    overflow-x: hidden;
    
}

.tabinhalt div{

   

    font-size: 30px;

    padding: 15px;
    text-align: center;

    margin: 5px;

    background-color: lightgreen;

    border: 1px solid black;
}



.workbench{
    min-width: 80%;

}

