.homeicon {
    height: 70px;
    width: auto;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
    margin-right: -150px;
    cursor: pointer;
}

.lupe {
    height: 15px;
    width: auto;
}

.mediaBar {
    text-align: left;
    width: 25%;
    float: left;
    min-width: 250px;
}

.mediaicons {
    padding-right: 5px;
    height: 35px;
    width: auto;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
