.flip-profilepic {
    width: 300px;
    height: 300px;
    perspective: 1000px;   
    float:right;
    margin-right:50px;
}

.flip-profilepic-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.5);
}

.flip-profilepic:hover .flip-profilepic-inner {
    transform: rotateY(180deg);
}

.flip-profilepic-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: black;
}

.flip-profilepic-back {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #1e3d59;
    color: #f5f0e1;
    text-align: center;
    vertical-align: middle;
}

.profileName{

    margin-left:50px;
 
}

.changePic{
    margin-top:100px;
    margin-bottom: 20px;
}

.changePic:hover,.deletePic:hover{

    color: #ffc13b;
    cursor:pointer;

}

.textArea{
    min-height: 100px;
    min-width: 60%;
    max-width: 60%;
}

.profilHeader{
    margin-bottom: -20px;
    padding-left: 20px;
}